@model Test_2.Models.Unidata

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <thread>
        <tr>
            <th>
                @Html.DisplayName("country")
            </th>
            <th>
                @Html.DisplayName("alpha_two_code")
            </th>
            <th>
                @Html.DisplayName("name")
            </th>
        </tr>
    </thread>
    <tbody>
        @foreach(var item in Test_2.Models.Unidata)
        <tr>
            <td>
                @Html.DisplayFor(item => item.country)
            </td>
            <td>
                @Html.DisplayFor(item => item.alpha_two_code)
            </td>
            <td>
                @Html.DisplayFor(item => item.name)
            </td>
        </tr>
    </tbody>
</table>
